@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.subscribe__list, .client__link, .work, .features__background, .modal__close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden__title, .section__title--visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.footer__logo, .header__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.8px;
}

.footer-form__button, .modal__button, .hero__button {
  color: #FFFFFF;
  background-color: #2196F3;
  display: inline-block;
  width: 200px;
  padding: 10px 24px;
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.9px;
  border: none;
  border-radius: 4px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  color: #757575;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.4px;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* container */
.container {
  /* outline: 2px solid rgb(13, 79, 42); */
  padding: 60px 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.container--team {
  background-color: #f5f4fa;
}
@media screen and (max-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    width: 480px;
  }
}

.section__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.8px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
.header {
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 60px;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (max-width: 480px) {
  .header {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    width: 768px;
    margin: 0 auto;
    align-items: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .header {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__logo {
  color: #000000;
}
.header__logo > span {
  color: #2196F3;
}

.site-nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .site-nav {
    flex-direction: column;
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    height: 100%;
    align-items: center;
    margin-right: 96px;
  }
}
.site-nav__item {
  display: block;
}
@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    display: block;
  }
  .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
}
.site-nav__link {
  color: #212121;
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    display: block;
    padding: 32px 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
  }
  .site-nav__link--current {
    position: relative;
    color: #2196F3;
  }
  .site-nav__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: #2196F3;
    border-radius: 2px;
  }
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}
.site-nav__link--current {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .auth-nav {
    text-align: left;
    font-weight: 500;
    letter-spacing: 0.8px;
    margin-bottom: 64px;
  }
  .auth-nav__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav__icon {
    fill: #757575;
    margin-right: 8px;
  }
  .auth-nav__item:hover .auth-nav__icon, .auth-nav__item:focus .auth-nav__icon {
    fill: #2196F3;
  }
}
@media screen and (max-width: 767px) {
  .auth-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav__item:not(:first-child) {
    margin-bottom: 10px;
  }
  .auth-nav__item:hover, .auth-nav__item:focus {
    color: #2196F3;
  }
}
.auth-nav__link {
  color: inherit;
}
@media screen and (max-width: 767px) {
  .auth-nav__link {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  .auth-nav__link.smartphone {
    color: #2196F3;
    font-size: 34px;
    letter-spacing: 0.7px;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav__link {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.25px;
  }
}

/* hero */
.hero {
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 118px 60px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .hero {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    width: 768px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .hero {
    width: 480px;
  }
}
.hero__title {
  margin: 0 auto 30px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 250ms linear;
  overflow-y: scroll;
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
  }
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal__form-title {
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 1.5;
  margin: 0 0 12px;
}
.modal__form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal__form-field label {
  margin-bottom: 4px;
  color: #757575;
  font-size: 12px;
  letter-spacing: 0.12px;
}
.modal__form-field input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal__form-field textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal__form-field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.12px;
}

/* checkbox */
.check {
  position: relative;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.35px;
  padding-left: 10px;
  margin-bottom: 31px;
}
.check__link {
  color: #2196F3;
  text-decoration: underline;
}

.check__input {
  position: absolute;
}

.check-icon {
  opacity: 0;
}

/* feature */
@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.features__item {
  outline: 1px solid teal;
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
.features__background {
  padding: 25px 0;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .features__background {
    padding: 25px 190px;
  }
}
@media screen and (min-width: 768px) {
  .features__background {
    padding: 25px 142px;
  }
}
.features__title {
  color: #212121;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}
.features__text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.section-work {
  display: none;
}

.work {
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.42px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* team */
@media screen and (min-width: 768px) {
  .teammates {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.teammates__item {
  background-color: #FFFFFF;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .teammates__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .teammates__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
.teammates__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.teammates__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.social {
  display: inline-flex;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.social__item {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.social__item:hover {
  background-color: #2196F3;
}
.social__link {
  display: block;
  padding: 12px;
  width: 100%;
  height: 100%;
}

.social__icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}
.social__item:hover .social__icon {
  fill: #FFFFFF;
}

/* client-section */
.client {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.client__item {
  margin: 15px;
  width: calc((100% - 60px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 90px) / 3);
  }
}
.client__link {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.client__link:hover {
  border-color: #2196F3;
}
.client__icon {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
}
.client__link:hover .client__icon {
  fill: #2196F3;
}

/* footer */
.footer {
  background-color: #2F303A;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .footer {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer {
    width: 480px;
  }
}
@media screen and (max-width: 767px) {
  .footer__adaptive {
    display: flex;
    flex-direction: column;
  }
}
.footer__box {
  display: inline-flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__box {
    margin-right: 165px;
  }
}
.footer__logo {
  display: inline-block;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__logo > span {
  color: #2196F3;
}

.address {
  display: inline-flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 60px;
  /* width: 231px; */
  /* height: 84px; */
}
.address__link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
.address__link:hover {
  color: #2196F3;
}
.address__link--styled {
  color: #FFFFFF;
  line-height: 1.7;
}

/* subscribe */
.subscribe {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 60px;
  /* outline: 1px solid wheat; */
}
.subscribe__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.subscribe__list {
  gap: 10px;
}

.subscribe__item {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.subscribe__item:hover, .subscribe__item:focus {
  background-color: #2196F3;
}
.subscribe__item:nth-child(1) {
  background-image: url(../images/instagram\ 1.svg);
}
.subscribe__item:nth-child(2) {
  background-image: url(../images/twitter\ 1.svg);
}
.subscribe__item:nth-child(3) {
  background-image: url(../images/facebook\ 1.svg);
}
.subscribe__item:nth-child(4) {
  background-image: url(../images/linkedin\ 1.svg);
}

.footer-form__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.footer-form__input {
  display: block;
  width: 100%;
  padding: 15px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2F303A;
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
    margin: 0 auto 20px;
  }
}
.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
.footer-form__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-form__button::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(/images/icon-send.svg);
  background-size: contain;
}

.menu-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .menu-container.is-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: -1px;
    width: 101%;
    height: 796px;
    background-color: #FFFFFF;
    padding: 48px 40px;
    font-size: 20px;
    text-align: center;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button__icon {
  padding: 10px 8px;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.adaptive-menu {
  display: flex;
}
@media screen and (min-width: 768px) {
  .adaptive-menu {
    display: none;
  }
}
.adaptive-menu__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  margin-left: 10px;
  height: 100%;
  vertical-align: middle;
  background-color: rgba(33, 33, 33, 0.2);
}
.adaptive-menu__item:not(:last-child) {
  margin-right: 10px;
}
.adaptive-menu__link {
  color: #2196F3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.36px;
}/*# sourceMappingURL=main.css.map */