@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.footer__logo, .header__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.8px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --accent-color: #2196F3;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --footer-color: #2F303A;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --portfolio-button-color: rgba(245, 244, 250, 1);
  --button-text-color: #212121;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-text-color);
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

/* container */
.container {
  /* outline: 2px solid rgb(13, 79, 42); */
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.container p {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  margin-bottom: 94px;
}
.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1.1px;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.button {
  color: #FFFFFF;
  background-color: #2196F3;
  display: inline-block;
  border-radius: 4px;
  width: 216px;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  line-height: 1.8;
  padding: 10px 32px;
}

.header {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
}
.header__logo {
  color: #000000;
  margin-left: 200px;
  padding-left: 15px;
  margin-right: 93px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__logo > span {
  color: #2196F3;
}

.site-nav {
  display: flex;
}
.site-nav__item + .site-nav__item {
  margin-left: 50px;
}
.site-nav__link {
  color: #212121;
  display: block;
  padding: 32px 0;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}
.site-nav__link--current {
  position: relative;
  color: #2196F3;
}
.site-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: #2196F3;
  border-radius: 2px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  margin-right: 200px;
}
.auth-nav__item + .auth-nav__item {
  margin-left: 50px;
}
.auth-nav__link {
  color: inherit;
  display: inline-flex;
  align-items: center;
  padding: 32px;
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196F3;
}
.auth-nav__icon {
  display: inline-block;
  padding: 0;
  margin-right: 10px;
  fill: #757575;
  background-size: contain;
}
.auth-nav__item:hover .auth-nav__icon {
  fill: #2196F3;
}

/* hero */
.hero {
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 94px;
  text-align: center;
}
.hero__title {
  color: #FFFFFF;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 2.64px;
  margin: 0 auto 30px;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.modal__close {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border: none;
  cursor: pointer;
}

.form-title {
  font-size: 20px;
  letter-spacing: 0.6px;
  margin: 0 0 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-field label {
  margin-bottom: 4px;
  color: #757575;
  font-size: 12px;
  letter-spacing: 0.12px;
}

.form-field input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-field textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.12px;
}

/* checkbox */
.check-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.check {
  position: relative;
  font-size: 14px;
  line-height: 1.7;
  padding-left: 10px;
}

/* .check-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */
/* feature */
.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-list .item {
  width: 270px;
}

.feature-background {
  background-color: var(--portfolio-button-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-icon {
  /* background-color: var(--portfolio-button-color); */
  margin: 25px 100px;
  width: 70px;
  height: 70px;
}

/* .feature-list .item::before {
    display: block;
    content: "";
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    background-color: var(--portfolio-button-color);
    background-repeat: no-repeat;
    background-position: center;
} */
/* .feature-list .icon-antenna::before {
    background-image: url(../images/antenna.svg);
}

.feature-list .icon-clock::before {
    background-image: url(../images/clock.svg);
}

.feature-list .icon-diagram::before {
    background-image: url(../images/diagram.svg);
}

.feature-list .icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
} */
/* .feature-list .item:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.feature-list .item:nth-child(2)::before {
    background-image: url(../images/clock.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.feature-list .item:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.feature-list .item:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */
.feature-list .item + .item {
  margin-left: 30px;
}

.feature-list .title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}

.feature-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* .feature .text {
    color: green;
}
.feature .warning {
    color: yellow;
}
.text.practice {
    color: aqua;
} */
/* work */
.work-list {
  display: flex;
  justify-content: space-between;
}

.work-list .item + .item {
  margin-left: 30px;
}

.work-list .item {
  position: relative;
}

.work-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: var(--white-color);
  letter-spacing: 0.42px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* .feature-text {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
} */
/* team */
.section.team {
  background-color: var(--portfolio-button-color);
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 94px;
  text-align: center;
}

.team .item {
  background-color: var(--white-color);
  max-width: 270px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
}

.team .title {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team .text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
}

.teammate-list {
  display: flex;
  justify-content: space-between;
}

.teammate-list .item + .item {
  margin-left: 30px;
}

.social-list {
  display: inline-flex;
  gap: 10px;
  margin-bottom: 30px;
}

.social-item {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.social-item a {
  display: block;
  padding: 12px;
  width: 100%;
  height: 100%;
}

.social-icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}

.social-item:hover {
  background-color: var(--accent-color);
}

.social-item:hover .social-icon {
  fill: var(--white-color);
}

/* .icon-list {
    display: flex;
    width: 206px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
}

.social-icon {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center;
}

.social-icon.instagram {
    background-image: url(../images/instagram.svg);
}
.social-icon.twitter {
    background-image: url(../images/twitter.svg);
}
.social-icon.facebook {
    background-image: url(../images/facebook.svg);
}
.social-icon.linkedin {
    background-image: url(../images/linkedin.svg);
} */
/* client-section */
.section-title {
  margin-bottom: 50px;
}

.client-list {
  display: inline-flex;
  justify-content: space-between;
  gap: 30px;
  height: 92px;
  margin-bottom: 94px;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-item a {
  display: block;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding: 16px 32px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.client-item a:hover {
  border-color: var(--accent-color);
}

.client-item a:hover .client-icon {
  fill: var(--accent-color);
}

.client-icon {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
}

/* .client-icon {
    display: inline-block;
    width: 170px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.client-icon:nth-child(1) {
    background-image: url(../images/Client.svg);
}
.client-icon:nth-child(2) {
    background-image: url(../images/Client\ 2.svg);
}
.client-icon:nth-child(3) {
    background-image: url(../images/Client\ 3.svg);
}
.client-icon:nth-child(4) {
    background-image: url(../images/Client\ 4.svg);
}
.client-icon:nth-child(5) {
    background-image: url(../images/Client\ 5.svg);
}
.client-icon:nth-child(6) {
    background-image: url(../images/Client\ 6.svg);
} */
/* footer */
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__box {
  display: inline-flex;
  flex-direction: column;
}
.footer__logo {
  display: inline-block;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__logo > span {
  color: #2196F3;
}

.address {
  display: inline-flex;
  flex-direction: column;
  gap: 9px;
  /* width: 231px; */
  /* height: 84px; */
}
.address__link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
.address__link:hover {
  color: #2196F3;
}
.address__link--styled {
  color: #FFFFFF;
  line-height: 1.7;
}

/* subscribe */
.subscribe {
  display: inline-flex;
  flex-direction: column;
  margin-left: 70px;
  /* outline: 1px solid wheat; */
}
.subscribe__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
}
.subscribe__list {
  display: flex;
  gap: 10px;
}

.subscribe__item {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.subscribe__item:hover, .subscribe__item:focus {
  background-color: #2196F3;
}
.subscribe__item:nth-child(1) {
  background-image: url(../images/instagram\ 1.svg);
}
.subscribe__item:nth-child(2) {
  background-image: url(../images/twitter\ 1.svg);
}
.subscribe__item:nth-child(3) {
  background-image: url(../images/facebook\ 1.svg);
}
.subscribe__item:nth-child(4) {
  background-image: url(../images/linkedin\ 1.svg);
}/*# sourceMappingURL=main.css.map */