/* client-section */

.section-title {
    margin-bottom: 50px;
}

.client-list {
    display: inline-flex;
    justify-content: space-between;
    gap: 30px;
    height: 92px;
    margin-bottom: 94px;
}

.client-item {
    width: 170px;
    height: 92px;
}

.client-item a {
    display: block;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    padding: 16px 32px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.client-item a:hover {
    border-color: var(--accent-color);
}

.client-item a:hover .client-icon{
    fill: var(--accent-color);
}

.client-icon {
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
}


/* .client-icon {
    display: inline-block;
    width: 170px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.client-icon:nth-child(1) {
    background-image: url(../images/Client.svg);
}
.client-icon:nth-child(2) {
    background-image: url(../images/Client\ 2.svg);
}
.client-icon:nth-child(3) {
    background-image: url(../images/Client\ 3.svg);
}
.client-icon:nth-child(4) {
    background-image: url(../images/Client\ 4.svg);
}
.client-icon:nth-child(5) {
    background-image: url(../images/Client\ 5.svg);
}
.client-icon:nth-child(6) {
    background-image: url(../images/Client\ 6.svg);
} */