/* feature */
.features {
    display: flex;
    justify-content: space-between;

    &__item {
        width: 270px;
    }

    &__background {
        background-color: $portfolio-button-color;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__icon {
        margin: 25px 100px;
        width: 70px;
        height: 70px;
    }

    &__title {
    color: $secondary-text-color;

    font-weight: 700;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
    }

    &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    }
}