/* footer */
.footer {
    background-color: $footer-color;
    padding-top: 60px;
    padding-bottom: 60px;

    &__box {
        display: inline-flex;
        flex-direction: column;
    }

    &__logo {
    @extend %logo-style;
    display: inline-block;
    color: $white-color;
    margin-bottom: 20px;

        > span {
            color: $accent-color;
        }
    }
}

.address {
    display: inline-flex;
    flex-direction: column;
    gap: 9px;
    /* width: 231px; */
    /* height: 84px; */

    &__link {
        display: inline-block;
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;

        &:hover {
            color: $accent-color;
        }

        &--styled {
            color: $white-color;
            line-height: 1.7;
        }
    }
}

/* subscribe */

.subscribe {
    display: inline-flex;
    flex-direction: column;
    margin-left: 70px;
    /* outline: 1px solid wheat; */

    &__title {
        display: inline-block;
        margin: 0;
        margin-bottom: 20px;
        color: var(--white-color);
        font-weight: 700;
        font-size: 14px;
    }

    &__list {
        display: flex;
        gap: 10px;
    }
}

.subscribe__item {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;

    &:hover,
    &:focus {
        background-color: $accent-color;
    }

    &:nth-child(1) {
        background-image: url(../images/instagram\ 1.svg);
    }
    &:nth-child(2) {
        background-image: url(../images/twitter\ 1.svg);
    }
    &:nth-child(3) {
        background-image: url(../images/facebook\ 1.svg);
    }
    &:nth-child(4) {
        background-image: url(../images/linkedin\ 1.svg);
    }
}