.header {
    padding: 16px 15px;
    height: 60px;
    display: flex;
    justify-content: space-between;

    &__logo {
        @extend %logo-style;
        color: $black-color;

        > span {
            color: $accent-color;
        }
    }

    @media screen and (min-width: $mobile) {
        width: 480px;
        margin: 0 auto;
    }
}

.site-nav,
.auth-nav {
    display: none;
}

// .header {
    // display: flex;
    // align-items: center;
    // background-color: $white-color;
    // font-weight: 500;
    // font-size: 14px;
    // letter-spacing: 0.3px;

    // &__logo {
    //     @extend %logo-style;
        // color: $black-color;
        // margin-left: 200px;
        // padding-left: 15px;
        // margin-right: 93px;
        // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    //     > span {
    //         color: $accent-color;
    //     }
    // }

//     @media screen and (min-width: 480px) {
//         width: 480px;
//     }
// }

// .site-nav {
//     display: flex;

//     &__item {
        
//         & + & {
//             margin-left: 50px;
//         }
//     }

//     &__link {
//         color: $secondary-text-color;
//         display: block;
//         padding: 32px 0;

//         &:hover,
//         &:focus {
//             color: $accent-color;
//         }
//     }

//     &__link--current {
//         position: relative;
//         color: $accent-color;

//         &::after {
//             content: "";
//             position: absolute;
//             left: 0;
//             bottom: 0;
//             height: 4px;
//             width: 100%;

//             background-color: $accent-color;
//             border-radius: 2px;
//         }
//     }
// }

// .auth-nav {
//     display: flex;
//     margin-left: auto;
//     margin-right: 200px;

//     &__item {
//         & + & {
//             margin-left: 50px;
//         }
//     }

//     &__link {
//         color: inherit;

//         display: inline-flex;
//         align-items: center;
//         padding: 32px;

//         &:hover,
//         &:focus {
//             color: $accent-color;
//         }
//     }

//     &__icon {
//         display: inline-block;
//         padding: 0;
//         margin-right: 10px;
//         fill: $primary-text-color;
//         background-size: contain;

//         .auth-nav__item:hover & {
//             fill: $accent-color;
//         }
//     }
// }
