/* hero */
.hero {
    background-color: $footer-color;
    background-image: 
    linear-gradient(rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    max-width: 1600px;
    margin: 0 auto;
    padding: 118px 60px;

    text-align: center;

    @media screen and (max-width: $mobile) {
        width: 480px;
    }

    @media screen and (min-width: $tablet) {
        height: 400px;
        width: 768px;
        padding: 118px 204px;
    }

    @media screen and (min-width: $laptop) {
        height: 600px;
        padding: 200px;
        width: 100%;
    }

    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        width: 480px;
    }

    &__title {
        margin: 0 auto 30px;

        color: $white-color ;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.6;
        letter-spacing: 1.5px;
        text-transform: uppercase;

        @media screen and (min-width: $laptop) {
            width: 696px;
            font-size: 44px;
            line-height: 1.3;
            letter-spacing: 2.64px;
        }
    }

    &__button {
        @extend %button;

        @media screen and (min-width: $laptop) {
            width: 216px;
            padding: 10px 32px;
        }
    }
}
