// body {
//     background-color: $white-color;
//     color: $primary-text-color;

//     max-width: 1600px;
//     margin-left: auto;
//     margin-right: auto;

//     font-family: Roboto, sans-serif;
//     font-weight: 400;
//     line-height: 1;
//     letter-spacing: 0.4px;
// }

body {
    color: $primary-text-color;
    margin: 0 auto;
    

    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.4px;
}

body.modal-open {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $secondary-text-color;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    font-style: normal;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}


/* container */
.container {
    /* outline: 2px solid rgb(13, 79, 42); */
    // max-width: 1200px;
    padding: 60px 15px;
    // text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &--team {
        background-color: $portfolio-button-color;
    }


    @media screen and (min-width: $mobile) {
        width:480px
    }
}

.section {

    &__title {
        color: $secondary-text-color;

        font-weight: 700;
        font-size: 36px;
        // letter-spacing: 1.1px;
        letter-spacing: 0.8px;

        margin-top: 0;
        margin-bottom: 30px;

        text-align: center;

        &--visually-hidden {
            @extend %visually-hidden;
        }
    }
}

.visually-hidden__title {
    @extend %visually-hidden;
}