// body {
//     background-color: $white-color;
//     color: $primary-text-color;

//     max-width: 1600px;
//     margin-left: auto;
//     margin-right: auto;

//     font-family: Roboto, sans-serif;
//     font-weight: 400;
//     line-height: 1;
//     letter-spacing: 0.4px;
// }

body {
    color: $primary-text-color;
    margin: 0 auto;
    
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    color: $secondary-text-color;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    font-style: normal;
}


/* container */
.container {
    /* outline: 2px solid rgb(13, 79, 42); */
    // max-width: 1200px;
    padding: 60px 15px;
    // text-align: center;
    margin: 0 auto;
        display: flex;
    flex-direction: column;

    &--team {
        background-color: $portfolio-button-color;
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    @media screen and (min-width: $mobile) {
        width:480px
    }
}

.section {

    &__title {
        color: $secondary-text-color;

        font-weight: 700;
        font-size: 36px;
        // letter-spacing: 1.1px;
        letter-spacing: 0.8px;

        margin-top: 0;
        margin-bottom: 30px;

        text-align: center;
    }
}

.visually-hidden {
    @extend %visually-hidden;
}

.button {
    color: $white-color;
    background-color: $accent-color;

    display: inline-block;
    border-radius: 4px;
    width: 200px;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    line-height: 1.8;
    padding: 10px 24px;
    letter-spacing: 0.9px;
    margin: 0 auto;

    @media screen and (min-width: $mobile) {
        // width:216px;
        // padding: 10px;
    }

}