
    $accent-color: #2196F3;
    $black-color: #000000;
    $white-color: #FFFFFF;
    $footer-color: #2F303A;
    $primary-text-color: #757575;
    $secondary-text-color: #212121;
    $portfolio-button-color: rgba(245, 244, 250, 1);
    $button-text-color: #212121;